.footer-content {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Rajdhani", sans-serif;
  height: 30vh;
}

.footer-content p {
  color: rgb(158, 158, 158);
}

.about-foot {
  cursor: default;
  list-style: none;
  color: rgb(138, 138, 138);
}

.about-foot:hover {
  color: #bebebe;
}

.footer-content .social-media {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-content .social-media li {
  list-style-type: none;
}

.footer-content .social-media i {
  border-radius: 50%;
  font-size: 15px;
  color: rgba(107, 107, 107, 0.911);
  text-decoration: none;
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
}

.footer-content .yt,
.footer-content .ig,
.footer-content .fb {
  /* border: 2px solid red; */
  background-image: linear-gradient(#fff, #fff);
  /* background-repeat: no-repeat; */
  background-position: 0 0;
  background-size: 50px 40px;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.911);
  transition: all 0.1s ease-in-out;
}

.footer-content .yt:hover {
  color: red;
  filter: drop-shadow(2px 2px 4px rgb(255, 0, 0));
}
.footer-content .fb:hover {
  color: rgb(24, 22, 131);
  filter: drop-shadow(2px 2px 4px rgb(0, 4, 255));
}
.footer-content .ig:hover {
  color: rgba(255, 30, 0, 0.87);
  filter: drop-shadow(2px 2px 4px rgb(255, 208, 0));
}

.a-about {
  text-decoration: none;
}
